html {
  margin: 1em auto;
  max-width: 1024px;
}

body {
  margin: 10px;
  padding: 20px 0 0 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

td {
  max-width: 500px;
  min-width: 120px;
}

.page-header {
  margin: 10px 0;
}

.button-bar + .button-bar {
  margin-left: 10px;
}

.login-page {
  margin: 1em auto;
  max-width: 256px;
}

.login-button {
  margin: 0 auto;
  width: 100%;
}

.table td {
  border: none;
}

.label {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  border-radius: 2px;
  float: left;
  padding: 3px 4px;
  margin: 3px;
}

.row .row-title {
  float: left;
}
