html {
  margin: 1em auto;
  max-width: 1024px;
}

body {
  margin: 10px;
  padding: 20px 0 0 20px;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table td {
  border: none;
}

.table th:nth-child(1) {
  width: 5%;
}

.table th:nth-child(2) {
  width: 40%;
}

.table th:nth-child(3) {
  width: 30%;
}

.table th:nth-child(4) {
  width: 15%;
}

.table th:nth-child(5) {
  width: 10%;
}

.table td:nth-child(5) {
  padding: 0px;
}

.page-header {
  margin: 10px 0;
}

.button-bar + .button-bar {
  margin-left: 10px;
}

.login-page {
  margin: 1em auto;
  max-width: 256px;
}

.login-button {
  margin: 0 auto;
  width: 100%;
}

.label {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  border-radius: 2px;
  float: left;
  padding: 3px 4px;
  margin: 3px;
}
